body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 200px;
    padding-bottom: 150px;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 4%;
    padding-left: 4px;
    margin-bottom: 20%;
}
#nav-bg{
    background: linear-gradient(90deg, rgb(174, 0, 255), rgb(255, 1, 141));
    box-shadow: 4px 4px 20px lightgray;
}
.brand-color{
    text-decoration: none;
    color: white;
}
.parts{
    align-items: center;
    text-decoration: none;
}
.nav-parts{
    color: white;
    font-weight: 500;
    position: relative;
}
.nav-parts:hover{
    color: rgb(255, 243, 176);
}
